@layer base {
  html {
    font-family: Poppins, sans-serif;
  }
}

@layer components {
  .btn {
    padding: clamp(0.2rem, 8vw, 1rem) clamp(1rem, 8vw, 2rem);
    font-size: clamp(0.65rem, 3.5vw, 1rem);
  }
}

.hero {
  height: 85vh;
  background-position: -25vw -30vh;
}

.hero,
.steps-section {
  background-image: url('../assets/imgs/pattern-min.png');
  background-repeat: no-repeat;
}

.homepage-video-container {
  height: 45vh;
}

.homepage-video {
  position: absolute;
  top: -100px;
  height: 55vh;
  width: 100%;
}

.steps-section {
  background-position: -20vw -20vh;
}

article > *:not(.entry-content),
.entry-content > * {
  @apply mx-auto max-w-content;
}

.entry-content,
.block-editor-block-list__layout {
  h1 {
    @apply text-2xl;
  }

  h2 {
    @apply text-xl;
  }

  h3 {
    @apply text-lg;
  }

  p,
  ul,
  ol {
    a {
      @apply text-blue-500 underline;

      &:hover {
        @apply no-underline;
      }
    }

    @apply mb-8;
  }

  ul:not(.block-editor-block-variation-picker__variations) {
    li {
      @apply list-disc list-inside;
    }
  }

  ol {
    li {
      @apply list-decimal list-inside;
    }
  }
}
